body { 
  padding:0;
  margin:auto;
  width: 500px;
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica;
  font-style: bold;
  text-transform: uppercase;
}

.name {
  color:white;
  text-align: center;
  margin-top: 100px;
}

.options {
  margin:auto;
  color:white;
}

.options .icon {
  display: inline-block;
  width:60px;
  height:60px;
  background-color: white;
  
}

.icon {
 opacity: .5;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  
}

.icon:hover {
  opacity: 1;
}

.options .data {
  display: none;
}

.planet{
  margin: auto;
  width: 200px;
  height:200px;
  background-color: white;
  background: url(../images/icon.png);
  background-size: 200px 200px;
  border-radius: 100px;
}

.planetText {
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  width:175px;
  margin: auto;
}

.options .Alien-Life {
  background: url(../images/Alien.png);
  margin-left:px;
  margin-top: px;
  background-size: 60px 60px;
  float:left ;
  clear: ;
  
}
.options .Neighbors {
  margin-left: 0px;
  margin-top:px;
  background: url(../images/Neighbors.png);
  background-size: 60px 60px;
  float:right ;
  clear: ;
}
.options .Mass{
  margin-left: px;
  background: url(../images/Weight.png);
  background-size: 60px 60px;
  margin-top:px;
  float:left;
  clear: ;
}
.options .Orbital-Period{
  margin-left: px;
  margin-top:px;
  background: url(../images/Time.png);
  background-size: 60px 60px;
  float: left;
  clear: right;
}
.options .Distance-From-Earth{
  margin-left: px;
  margin-top: px;
  background: url(../images/Commute.png);
  background-size: 60px 60px;
  float:right ;
  clear:;
}
.options .Radius{
  margin-left: px;
  margin-top: px;
  background: url(../images/Orbit.png);
  background-size: 60px 60px;
  float: left;
  clear:right;
}
.options .Temperature{
  margin-left:0px;
  background: url(../images/Tempature.png);
  background-size: 60px 60px;
  margin-top:0px;
  float: right;
  clear: ;
}
.options .Year-Discovered{
  margin-left: px;
  background: url(../images/Date.png);
  background-size: 60px 60px;
  margin-top:0px;
 filter: hue-rotate(120deg);
 float: right;
 clear: right;
}


.buttons {
  color: white;
  font-size: 12px;
  display: inline-block;
  margin-left: 90px;
  margin-top: 30px;
}

.buttons .icon {
  width:50px;
  height:50px;
  background-color: white; c

}

.buttons div {
  display: inline-block;
}

.buttons .divider {
  height: 100px;
  border: 1px solid white;
  margin: 0 20px;
}

.buttons .adopt .icon {
  background: url(../images/Flag.png);
  background-size: 50px 50px;
  margin: auto;
}

.buttons .filter div {
  display: inline-block;
}

.buttons .filter .lesser {
  background: url(../images/Plus.png);
  background-size: 50px 50px;
}

.buttons .filter .greater {
  background: url(../images/Minus.png);
  background-size: 50px 50px;
}

.buttons .filter .item {
  width:60px;
  height:60px;
  background: url(../images/Orbit.png);
  background-size: 60px 60px;
}

