html { 
  padding:0;
  margin:0;
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

body { 
  padding:0;
  margin:0;
}

.bg-shade{
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  bottom: 0;
  background-color: black;
  opacity: .7;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

h2{
  color:white;
  text-align: center;
  margin-top: 100px;
}
.left{
/*  float: left;
  right:0;
  margin:0 auto;*/
}
.right{
/*  right:0;
  margin:0 auto;*/
}
.middle{
  width:250px;
  margin: 0px auto;
}
.planet{
  display: inline;
  position: fixed;
  margin: 60px auto;
  width: 200px;
  right:0;
  left:0;
  height:200px;
  background-color: white;
  background: url(../images/icon.png);
  background-size: 200px 200px;
}

.name{
  display: inline;
  position: fixed;
  margin: 0px auto;
  width: 200px;
  right:0;
  left:0;
  text-align: center;
  color:white;
}

.left {
display: inline;
float:left;
width:230px;
/*background:#9c9;*/
}
.right{
display: inline;
float:right;
width:230px;
/*background:#c9c;*/
}

.center{
  width:550px;
  margin: 0 auto;
  padding-top: 50px;
}





.icon{
  z-index: 10;
  width:60px;
  height:60px;
  background-color: white;
  background: url(../images/icon.png);
  background-size: 60px 60px;
  opacity: .5;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
}

.one{
  margin-left: 135px;
  margin-bottom: -15px;
}
.two{
  margin-left: 85px;
  margin-top:10px;
}
.three{
  margin-left: 55px;
  margin-top:10px;
}


.five{
  margin-left: 25px;
  margin-bottom: -15px;
}
.six{
  margin-left: 75px;
  margin-top:10px;
}
.seven{
  margin-left:100px;
  margin-top:10px;
}

.icon:hover{
  opacity:1;
}
