body { 
  padding:0;
  margin:0;
  background: url(../images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.options {
  width: 500px;
  margin:auto;
  color:white;
}

.options .icon {
  display: inline-block;
  width:60px;
  height:60px;
  opacity: .5;
  -webkit-transition: .5s; /* For Safari 3.1 to 6.0 */
  transition: .5s;
  background-color: white;
}

.options .data {
  display: none;
}

.planet{
  margin: auto;
  width: 200px;
  height:200px;
  background-color: white;
  background: url(../images/icon.png);
  background-size: 200px 200px;
}

.options .Alien-Life {
  background: url(../images/Alien.png);
  margin-left: 135px;
  margin-bottom: -15px;
  background-size: 60px 60px;
}
.options .Neighbors {
  margin-left: 85px;
  margin-top:10px;
  background: url(../images/Neighbors.png);
  background-size: 60px 60px;
}
.options .Mass{
  margin-left: 55px;
  background: url(../images/Weight.png);
  background-size: 60px 60px;
  margin-top:10px;
}
.options .Orbital-Period{
  margin-left: 85px;
  margin-top:10px;
  background: url(../images/Time.png);
  background-size: 60px 60px;
}
.options .Distance-From-Earth{
  margin-left: 25px;
  background: url(../images/Commute.png);
  background-size: 60px 60px;
}
.options .Radius{
  margin-left: 75px;
  background: url(../images/Orbit.png);
  background-size: 60px 60px;
}
.options .Temperature{
  margin-left:100px;
  background: url(../images/Tempature.png);
  background-size: 60px 60px;
  margin-top:10px;
}
.options .Year-Discovered{
  margin-left: 75px;
  background: url(../images/Date.png);
  background-size: 60px 60px;
  margin-top:10px;
 filter: hue-rotate(120deg);
}