<h1>yo</h1>

<div class="photo"><%= @planet.name %></div>

<div class="button">
  <%= link_to "Claim this planet!", edit_planet_path(@planet) %>
  <%= link_to "See next planet.", root_path %>
</div>

